@use "../../styles/styles.scss";

.hero {
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;

  padding: var(--nav-height) 0 0;
  @media (max-height: 700px) and (min-width: 700px), (max-width: 360px) {
    // height: auto;
    padding-top: var(--nav-height);
  }

  h1 {
    margin: 0 0 30px 4px;
    color: var(--green);
    font-family: var(--font-mono), serif;
    font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    font-weight: 400;

    @media (max-width: 480px) {
      margin: 0 0 20px 2px;
    }
  }

  h3 {
    margin-top: 5px;
    color: var(--slate);
    line-height: 0.9;
  }

  p {
    margin: 20px 0 0;
    max-width: 540px;
  }

  .email-link {
    margin-top: 50px;
  }
}
